<div>
  <select #platform>
    <option value="PC">PC</option>
    <option value="Xbox">Xbox</option>
    <option value="PS4">PS4</option>
    <option value="Nintendo Switch">Nintendo Switch</option>
    <option value="Nintendo DS">Nintendo DS</option>
  </select>
  <div class="form-group">
    <label for="title">Title</label>
    <input class="form-control"
           name="title"
           #title>
  </div>
  <div class="form-group">
    <label for="publisher">Publisher</label>
    <input class="form-control"
           name="publisher"
           #publisher>
  </div>

  <input type="button"
         (click)="add(title, publisher, platform)"
         class="btn btn-primary"
         value="Add">
</div>
