<div>
  <select>
    <option value="volvo">PC</option>
    <option value="saab">Xbox</option>
    <option value="opel">PS4</option>
    <option value="audi">Nintendo Switch</option>
    <option value="audi">Nintendo DS</option>
  </select>
  <div class="form-group">
    <label for="title">Title</label>
    <input class="form-control"
           name="title"
           #title>
  </div>
  <div class="form-group">
    <label for="publisher">Publisher</label>
    <input class="form-control"
           name="publisher"
           #publisher>
  </div>

  <input type="button"
         class="btn btn-primary"
         value="Add">
</div>
